<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 h-screen w-screen overflow-x-hidden text-white">
       <a class="ml-6 mt-6  inline-block text-blue-700" href="/">Go back to home --></a>

       <div class="ml-6 mt-4">
         <h2 class="text-4xl font-bold "><%=title%></h2>
         <p class="mt-2 font-xl "><%=description%></p>
       </div>

    </div>
    
</body>
</html>